:root {
  --light-mode-color: rgba(0, 0, 0, 0.8);
  --light-mode-bgcolor: #C0C0C0;
  --light-mode-active-color: #417505;
  --light-mode-border: rgba(0, 0, 0, 0.8);

  --dark-mode-color: #C0C0C0;
  --dark-mode-bgcolor: rgba(0, 0, 0, 0.8);
  --dark-mode-active-color: #ed6c02;
}

.simple-keyboard.myTheme1 .hg-button {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hg-button.dark {
  background: var(--dark-mode-bgcolor);
  color: var(--dark-mode-color);
}

.hg-button.dark[data-skbtn="Enter"],
.hg-button.dark[data-skbtn="{bksp}"],
.hg-button.light[data-skbtn="Enter"],
.hg-button.light[data-skbtn="{bksp}"]
 {
  width: 12%;
  max-width: none;
}

.simple-keyboard.myTheme1 .hg-button.light {
  background: var(--light-mode-bgcolor);
  color: var(--light-mode-color);
  border-bottom: 1px solid var(--light-mode-border);
}

.simple-keyboard.myTheme1 .hg-button.dark:active {
  background: var(--dark-mode-active-color);
  color: var(--dark-mode-color);
}

.simple-keyboard.myTheme1 .hg-button:active {
  background: var(--light-mode-active-color);
  color: var(--light-mode-color);
}

/* #root .simple-keyboard.myTheme1 + .simple-keyboard-preview {
  background: #1c4995;
} */

.hg-theme-default.myTheme1.hg-layout-default {
  display: contents;
}

.simple-keyboard.hg-layout-default .hg-button.hg-red {
  background: #e23636;
  color: #C0C0C0;
}

.simple-keyboard.hg-layout-default .hg-button.hg-green {
  background: #417505;
  color: #C0C0C0;
}

.simple-keyboard.hg-layout-default .hg-button.hg-yellow {
  background: darkgoldenrod;
  color: #C0C0C0;
}

.simple-keyboard.hg-layout-default .hg-button.hg-highlight {
  box-shadow: 0px 0px 40px 5px rgba(255, 255, 0, 0.5);
  z-index: 1;
}
